<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul>
                    <% products.forEach(prod => { %>
                        <li>
                            <p>
                                <%= prod.title %> (<%= prod.cartItem.quantity %>)
                                <button class="btn">-</button>
                                <button class="btn">+</button>
                            </p>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" name="prodId" value="<%= prod.id %>">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <form action="/create-order" method="POST" >
                    <button type="submit" class="btn" >Order now!</button>
                </form>
            <% } else { %>
                <h1>No products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>